.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 50px;
}

.home_center {
    text-align: center;

    img {
        width: 400px;
        height: 400px;
        margin-bottom: 75px;

    }

    a {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        border: 1px solid rgb(95, 13, 95);
        text-decoration: none;
        padding: 20px 70px;
        color: #fff;
        opacity: 0.7;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        opacity: 1;
    }
}



.home_right {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    a {
        transition: all 0.1s;
    }

    a:hover {
        transform: scale(1.05);
        transition: all 0.1s;
    }
}