.header {
    border-bottom: 1px solid #C4C4C4;

    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

    }
}

.hover:hover {
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #4E741D;
}

.active {
    border-bottom: 1px solid #4E741D;
}

.nav {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    align-items: center;
    margin: 26px 50px 30px 50px;
}

.left_nav,
.right_nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-size: 16px;
}

.cart {
    transition: all 0.1s;


    &:hover {
        transform: scale(1.05);
        transition: all 0.1s;
    }
}